<div id="container">
<% @posts.each do |post| %>
    <div class="contentBox" id="noText">
      <%= format_type(post.id, post.post_type, post.content, post.width_thumbnail, post.height_thumbnail, "all", "http://s3.babblin.gs/").html_safe %>
    </div>
<% end %>
</div>
