<% @posts.each do |post| %>
  <% if post.post_type == "text" %>
    <div class="contentBox">
  <% else %>
    <div class="contentBox noText">
  <% end %>
      <%= format_type(post).html_safe %>
    </div>
<% end %>
