<div id="containerSingleOuter">
    <div id="containerSingleInner">
        <div class="contentBox" id="noText">
        <%= format_type(@posts).html_safe %>
        </div>
    </div>
  <div class="clear"></div>
</div>
