// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-thumbnail {
  padding: 10px 10px 40px 10px;
}

.post-box {
  padding-bottom: 15px;
  padding-top: 15px;
}

.new-post {
  margin-top: 20%;
  margin-bottom: 25%;
  background: #FFFFFF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  input {
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
