.posts {
  margin: 20px auto;

  .post {
    width: 300px;
    margin-bottom: 15px;

    .notepad {
      font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
      margin: 0 auto 0px;
      padding: 6px 5px 4px 42px;
      position: relative;
      color: #444;
      line-height: 20px;
      border: 1px solid #F8F8F8;

      background: #fff;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
      background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
      background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
      background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
      background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
      background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;

      -webkit-background-size: 100% 20px;
      -moz-background-size: 100% 20px;
      -ms-background-size: 100% 20px;
      -o-background-size: 100% 20px;
      background-size: 100% 20px;

      &:before {
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        left: 30px;
        bottom: 0;
        border: 1px solid;
        border-color: transparent #efe4e4;
      }
    }
  }

}

.individual-post {
  margin: 20px 0 50px 0;
  text-align: center;


  img {
    max-width: 100%;
    height: auto;
  }
}

.new-post {
  text-align: center;
  margin-top: 100px;
}
