// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-thumbnail, .youtube-thumbnail, .vimeo-thumbnail, .spotify-thumbnail, .soundcloud-thumbnail {
  padding: 10px 10px 40px 10px;
  line-height: 1.42857;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.post-box {
  padding-bottom: 15px;
  padding-top: 15px;
}

.new-post {
  margin-top: 20%;
  margin-bottom: 25%;
  input {
    text-align: center;
  }
  #post_content {
    font-size: 20px;
    height: auto;
  }
  .btn {
    font-size: 20px;
  }
}
